body{
background-image: url(imagens/wallpaper001.jpg);
}

div.quadrado{
    border: 1px solid black;
    width: 300px;
    height: 300px;
    display: inline-block;
    border-radius: 10px;
    background-color: lavender;
} 

div#q1{
    background-color: aqua;
}
div#q2{
    background-image: linear-gradient(to bottom, #ff9500, #ff0000);
}

div#q3{
    background-image: url(imagens/pattern003.png);
    /*Para adicionar imagens como plano de fundo (Sem sendido semântico), usamos a declarção background-image: url()*/
}