@charset "UTF-8";

/*Configurações gerais*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


html body {
    text-align: center;
    width:100vw;
    height: 100vh;
    background-color: #233eff;  
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
}

h1{
    color: white;
    text-shadow: 2px 2px 5px black;
    padding: 10px;
}

/* " Retrato */

@media screen and (orientation: portrait) {
    body{
        background:url(../imagens/cev-portrait.jpg);
    }
}

/* " Paisagem*/

@media screen and (orientation: landscape) {
    body{
        background:url(../imagens/cev-landscape.jpg);
    }
    
}