@charset "UTF.8";

/*Outras medias*/

/*impreção*/
@media print{

}
/*tablets*/
@media screen and (min-width:768px) and (max-width: 992px) {
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: block;}
}

/*computadores*/
@media screen and (min-width:992px) and (max-width: 1200px) {
    body{
        background-image:url(../imagens/back-pc.jpg);
    }
    img#tablet, img#phone{display:none;}
    img#pc{display:block;}
    
}

/*Tv's*/
@media screen and () {
    
}
