@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --font-titolo:'Passion One', cursive;
    --font-autor: verdana ;
    --font-padão:'Sriracha';
    --cor0:#ffffff;
    --cor1:#000000;
    --cor3:#000000e3;
    --cor4:#00000059;


}

header{
    color:var(--cor0);
    font-family: var(--font-titolo);
    background-color:var(--cor1);
    padding: 20px;
    height: auto;
    text-align: center;
}

p.titulo{
    font-weight: bold;
    padding-top: 30px;
    font-size: 3em;
}
p.autor{
    font-size: 1em;
    padding-top: 7px;
    font-family: var(--font-autor);
    font-weight: normal;
}

a{
    font-weight: bold;
    text-decoration: none;
    color: var(--cor0);
    font-weight: 100;  
}

a:hover{
    text-decoration: underline;
}

main{
    padding: 10px;
}
p.texto{
    font-family: var(--font-padão);
    padding: 1px 4px;
}    

main > article{
    background-color: var(--cor3);
    margin: 0px -9px 0px -10px;
    height: 300px;
    position: relative;
    


}
article > p{
    color: var(--cor0);
    background-color: var(--cor4);

    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0px, -50%);
}

footer{
    font-family: var(--font-autor);
    background-color: var(--cor1);
    color: var(--cor0);
    text-align: center;
    padding: 2px 0px;
    margin-bottom: 0px;
}
