@charset "UTF-8";

/*Estilo para Telas*/

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color:#eeeded;
}

header{
    background-color: #a9a9a9;
    box-shadow: 1px 1px 3px black;
    margin-bottom: 20px;
}

header h1{
    text-align: center;
    padding: 5px;
    
}

menu ul{
 text-align: center;
}

menu li{
    display: inline-block;
    background-color: #2e2e2e;
    color: white;
    padding: 10px;
    margin-bottom: 5px; 
    border-radius: 5px;
}

li:hover{
    background-color: #2e2e2ea1;
}

main{
    display: block;
    margin: auto;
    width: 580px;
    text-align: justify;
    background-color:#ffffff;
    padding: 20px;
    border-radius: 20px;
}
main h2{
    margin: 10px;
    text-align: center;
    
}

main > article > p{
    margin: 0px 0px 20px 0px;
    line-height: 1.5em;
    text-indent: 30px;
}

@media screen and (max-width: 600px) {
    main{
        width: 80vw;
    }
}